<nav style="background-color: darkblue;">
  
  <img src="/image.png" alt="Logo" >
  <ul>
    
    <li ><a href="/" id="home" class="<%= currentPage==='home'?'active':''%>">Home</a></li>
    <li ><a href="/teacher/findData" id="teacher" class="<%= currentPage==='teacher'?'active':''%>">Teacher</a></li>
    <li ><a href="/admin"id="admin" >Admin </i></a></li>
  </ul>
</nav>
