<nav>
  <ul>
    <li ><a href="/" id="home" class="<%= currentPage==='home'?'active':''%>">Home</a></li>
    <li ><a href="/teacher/findData" id="teacher" class="<%= currentPage==='teacher'?'active':''%>">Teacher</a></li>
    <li ><a href="/admin"id="admin" >Admin<script src="https://cdn.lordicon.com/lordicon.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/kthelypq.json"
          trigger="hover"
          colors="primary:#ffffff"
          style="width:30px;height:30px;padding-top: 8%;">
      </lord-icon></a></li>
  </ul>
</nav>
