<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudentInfo</title>
  <link rel="stylesheet" href="/studentdata.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/nav.css">
</head>
<body>
  <%- include('./partials/nav', { currentPage: 'teacher' }) %>
  <center>
    <h1 id="firstheading" style="font-weight: 900;">Student <span id="firstspan">Detail</span></h1>
    <h1>Total Student Detail</h1>
    <table border="1" cellspacing="0" id="studentTable">
      <!-- Table Header -->
      <thead>
        <tr>
          <% 
          // Collect all unique keys from all student objects
          const allKeys = new Set();
          totalStudent.forEach(student => {
            Object.keys(student).forEach(key => allKeys.add(key));
          });
          allKeys.forEach(key => { 
          %>
            <th><%= key %></th>
          <% }); %>
          <th>Action</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <% 
        totalStudent.forEach(student => { 
        %>
          <tr>
            <% 
            allKeys.forEach(key => { 
            %>
              <td><%= student[key] || "" %></td>
            <% }); %>
          </tr>
          
        <% }); %>
       
      </tbody>
    </table>
  </center>
</body>
</html>
